.empty-images-root {
  min-height: 600px;

  .empty-images {
    display: flex;
    justify-content: center;

    p {
      margin-top: 20%;
      font-size: 20px;
      border: 1px solid #ccc;
      color: white;
      padding: 20px;
      background-color: #7e3910;
      border-radius: 10px;
    }
  }
}
