.root-root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30.4px;
  max-width: 1107px;
  min-width: 1107px;
  max-height: 500px;
  overflow-y: scroll;
}

.scroll-root-root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30.4px;
  height: 500px;
}

.ach-root {
  display: flex;
  border: 1px solid #b0b3d1;
  border-radius: 20px 20px 20px 20px;
  max-width: 335px;
  height: 140px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;

  img {
    margin: 14px;
  }
}

.ach-root2 {
  .titleXimage {
    display: flex;
    img {
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    .item-title {
      font-size: 12px;
      font-weight: bold;
      width: 125px;
      height: 0px;
    }
  }
  .item-desc {
    font-size: 10px;
    color: #707070;
    width: 153px;
    height: 31px;
  }

  .points-root {
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 15px;
    width: 160px;
    height: 40px;
    margin-top: -5px;

    p {
      text-align: center;
      margin-top: 10px;
    }
    // margin-right: 10px;

    .item-points {
      text-align: center;
      color: #707070;
    }
  }
}

.achievement-button {
  width: 328px;
  height: 48px;
  border-radius: 40px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
