.sub-root {
  margin-top: 20.4px;
  justify-content: space-between;
  min-height: 500px;
  height: fit-content;
  align-self: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
  grid-auto-rows: 1fr;
  gap: 20px 20px;
  max-height: 640px;
  overflow-y: scroll;
}

.scroll-sub-root {
  margin-top: 20.4px;
  justify-content: space-between;
  min-height: 500px;
  max-height: 100%;
  height: fit-content;
  align-self: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
  grid-auto-rows: 1fr;
  gap: 10px 10px;
}

.plan-root {
  margin-top: 10px;
  width: calc(100vw - 1000px);
  max-width: 325px;
  height: 442px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 17px #b0b3d1;
  border-radius: 30px;

  .plan-header {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid #b0b3d1;

    img {
      width: 73px;
      height: 73px;
      margin-left: 29px;
      margin-right: 10px;
      margin-bottom: 25px;
    }
    .plan-header-details {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .details-name {
        font-size: 15px;
        font-weight: 700;
      }
      .details-amount {
        font-size: 20px;
        font-weight: bold;
        span {
          font-size: 14px;
          font-weight: 500;
          color: #b0b3d1;
        }
      }
    }
  }
  .details-root {
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    .flex-details {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
      p {
        font-size: 16px;
        color: #7b7fa4;
      }
    }
  }
  .button-plans {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      width: 265px;
      height: 49px;
      border-radius: 10px;
      border: 1px solid #b0b3d1;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}

.sub-loadmore-button {
  width: 328px;
  height: 48px;
  border-radius: 40px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
