.gen-root {
  background-color: #fff;
  border-radius: 30px;
  min-width: 352px;
  max-width: 100%;
  min-height: 135px;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .gen-header {
    display: flex;
    align-items: center;
    margin: 25px 25px 0 25px;
    justify-content: space-between;
    .gen-p1 {
      font-size: 18px;
      font-weight: 500;
      color: #000;
    }
    .gen-p2 {
      font-size: 12px;
      color: #000;
    }
    .gen-header-details {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .gen-total {
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
    justify-content: space-between;

    .gen-total-p {
      font-size: 15px;
      color: #000;
    }

    .gen-total-p2 {
      font-size: 20px;
      color: #000;
      font-weight: 500;
    }
  }
}
