.root_addImages {
  margin: 30px 35px 0 35px;
  height: 100%;
}

.form {
  display: flex;
  gap: 5%;
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
  .section-1 {
    .section__details {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      input {
        border-radius: 5px;
        width: calc(100vw - 880px);
        max-width: 450px;
        height: 48px;
        background-color: #f0f3f8;
        border: none;
        margin-top: 12px;
        padding-left: 10px;
        font-size: 14px;

        &::placeholder {
          color: #aaaab7;
          font-size: 13px;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
          width: calc(100vw - 80px);
        }
      }
    }
    .description__details {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      textarea {
        border-radius: 5px;
        width: calc(100vw - 880px);
        max-width: 450px;
        height: 180px;
        background-color: #f0f3f8;
        border: none;
        margin-top: 12px;
        padding-left: 10px;
        padding-top: 14px;
        font-size: 14px;

        &::placeholder {
          color: #aaaab7;
          font-size: 13px;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
          width: calc(100vw - 80px);
        }
      }
    }
  }

  .section-2 {
    @media (min-width: 768px) and (max-width: 1199px) {
      margin-top: 20px;
    }
    .pointer-ks {
      font-size: 12px;
      color: #ff0000;
      margin-top: 50px;
    }

    .section-2__root {
      display: flex;
      gap: 2%;
      @media (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 50px;
      }
      .upload__images {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        .file__upload-images {
          color: #b0b3d1;
          font-size: 13px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          border-radius: 5px;
          min-width: 200px;
          max-width: 210px;
          height: 48px;
          background-color: #f0f3f8;
          border: none;
          margin-top: 12px;
          margin-bottom: 35px;
          input[type='file'] {
            display: none;
          }
        }
      }
    }
  }
}

.dd-root {
  .dd-container {
    position: relative;
    margin-bottom: 32px;
    .dd-container__button {
      display: flex;
      align-items: center;
      gap: 2%;

      button {
        width: 294px;
        height: 48px;
        background-color: #f0f3f8;
        border: none;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;
      }
      p {
        font-size: 13px;
        color: #7e3910;
        cursor: pointer;
      }
    }
    .dd-container__dropdown {
      position: absolute;
      top: 94%;
      left: 0;
      width: 100%;
      z-index: 2;
      border: 1px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
      background-color: #ffffff;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 8px 12px;
          font-size: 14px;
          color: #000000;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .deleteicon {
            color: red;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.14);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.add-image__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 30px;

  &:hover {
    background-color: #984514;
  }
}

.images-error {
  font-size: 14px;
  color: red;
}

.image-buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  .create-Image-button {
    width: 254px;
    height: 49px;
    border-radius: 10px 10px 10px 10px;
    background-color: #7e3910;
    color: white;
    border: 1px solid #707070;
    margin-top: 45px;
    margin-right: 41px;
    cursor: pointer;

    &:hover {
      background-color: #984514;
    }
  }
  .delete-Image-button {
    width: 254px;
    height: 49px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ff0000;
    color: white;
    border: 1px solid #ffff;
    margin-top: 45px;
    cursor: pointer;
  }
}
