body {
  width: 100%;
}

.root-achievement {
  margin-top: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 40px 40px 40px 40px;
  min-width: 1107px;
  max-width: 1107px;
  // box-sizing: border-box;
  // min-width: 0px;
  // max-width: 95%;
  // min-width: 95%;
  margin-bottom: 15px;
  height: 727px;
  // max-height: 727px;

  hr {
    background-color: #b0b3d1;
    margin-left: 35px;
    margin-right: 35px;
  }

  .achievement-header {
    display: flex;
    margin-left: 35px;
    border-bottom: 1px #b0b3d1 solid;
    margin-right: 35px;
  }

  h1 {
    margin-left: 35px;
    font-size: 20px;
    margin-top: 25px;
  }

  .Achievement-link {
    text-decoration: none;
    color: #b0b3d1;
    font-size: 16px;
    margin-right: 51px;
  }

  .active {
    border-bottom: 3px solid #7e3910;
    color: #7e3910;
  }
}
