.statistics-main-root {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0 4%;
  margin-bottom: 2%;

  .MV1-stats {
    grid-column: 1/2;
    grid-row: 1/2;
    .ARF {
      display: flex;
      gap: 2%;
      margin-top: 3%;
    }

    .ARF-ss {
      display: flex;
      flex-direction: column;
      gap: 2%;
    }
  }

  .VISSUB {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
