.statistics-main-root {
  margin-top: 25px;
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 10px;

  .stats-r1 {
    width: 73%;
    .MV-stats {
      width: 70%;
    }

    .stats-rr {
      margin-top: 20px;
      display: flex;
      width: 100%;
      gap: 10px;

      .stats-ads {
        width: 100%;
      }

      .stats-ads-flex {
        width: 90%;

        .stats-rc {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }

  .stats-r2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .r2-VV {
    width: 100%;
  }
}
