.root-ad {
  display: flex;
  justify-content: space-between;
  margin-top: 30.4px;
  margin-left: 31px;

  input {
    border-radius: 5px;
    width: calc(100vw - 880px);
    max-width: 490px;
    height: 48px;
    background-color: #f0f3f8;
    border: none;
    margin-top: 12px;
    padding-left: 10px;
    font-size: 14px;

    &::placeholder {
      padding-left: 10px;
      color: #b0b3d1;
      font-size: 16px;
    }

    &:focus {
      padding-left: 10px;
    }
  }
}

.ad-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 45px;
  cursor: pointer;
  margin-bottom: 30px;

  &:hover {
    background-color: #984514;
  }
}

.file-upload {
  .file-label {
    color: #b0b3d1;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100vw - 880px);
    max-width: 450px;
    height: 48px;
    background-color: #f0f3f8;
    border: none;
    margin-top: 12px;
    margin-bottom: 35px;
    input[type='file'] {
      display: none;
    }
  }
}

.ads-label {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
}

.ads-div-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.error-message-ads {
  color: red;
  font-size: 14px;
}
