.root-create {
  margin-left: 35px;
  .create-root {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    @media (min-width: 768px) and (max-width: 992px) {
      flex-direction: column;
    }

    .create-root-div1 {
      width: 42%;

      .create-input-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        input {
          border-radius: 5px;
          width: calc(100vw - 880px);
          max-width: 450px;
          height: 48px;
          background-color: #f0f3f8;
          border: none;
          margin-top: 12px;
          padding-left: 10px;
          font-size: 14px;

          &::placeholder {
            color: #aaaab7;
            font-size: 13px;
          }
          @media (min-width: 768px) and (max-width: 992px) {
            width: calc(100vw - 80px);
          }
        }
      }

      .create-input-text-criteria {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        input {
          border-radius: 5px;
          width: 50%;
          // min-width: 490px;
          height: 48px;
          background-color: #f0f3f8;
          border: none;
          margin-top: 12px;
          padding-left: 10px;
          font-size: 13px;

          &::placeholder {
            color: #aaaab7;
            font-size: 13px;
          }
          @media (min-width: 768px) and (max-width: 992px) {
            width: 100%;
          }

          // &:focus {
          //   padding-left: 10px;
          // }
        }
      }
    }
    .create-root-div2 {
      width: 53%;
      .file-root {
        width: 100%;
        .major-files {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 15px;
          margin-top: 14px;
          @media (min-width: 768px) and (max-width: 992px) {
            flex-direction: column;
          }
          .shade-mode {
            display: flex;
            .file-label-create {
              color: #b0b3d1;
              font-size: 13px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              cursor: pointer;
              border-radius: 5px;
              width: 150px;
              max-width: 450px;
              height: 48px;
              background-color: #f0f3f8;
              border: none;
              margin-top: 12px;
              margin-bottom: 35px;
              input[type='file'] {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.create-button-ach {
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 15px;
  margin-right: 41px;
  cursor: pointer;
  font-family: 'poppins';
  font-weight: 500;

  &:hover {
    background-color: #984514;
  }
}

.delete-button-ach {
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ff0000;
  color: white;
  border: 1px solid #ffff;
  cursor: pointer;
}

.create-error-message {
  color: red;
  font-size: 14px;
}
