.root-create {
  margin-left: 35px;
  .create-root {
    width: 100%;
    display: flex;
    margin-top: 32px;

    .create-root-div1 {
      width: 50%;

      .create-input-text {
        display: flex;
        flex-direction: column;
        // margin-bottom: 32px;


        input {
          border-radius: 5px;
          width: calc(100vw - 880px);
          max-width: 490px;
          height: 48px;
          background-color: #f0f3f8;
          border: none;
          margin-top: 12px;
          padding-left: 10px;
          font-size: 14px;

          &::placeholder {
            padding-left: 10px;
            color: #b0b3d1;
            font-size: 16px;
          }

          &:focus {
            padding-left: 10px;
          }
        }
      }

      .create-input-text-criteria {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        input {
          border-radius: 5px;
          width: 50%;
          max-width: 490px;
          height: 48px;
          background-color: #f0f3f8;
          border: none;
          margin-top: 12px;
          padding-left: 10px;
          font-size: 14px;

          &::placeholder {
            padding-left: 10px;
            color: #b0b3d1;
            font-size: 16px;
          }

          &:focus {
            padding-left: 10px;
          }
        }
      }
    }
    .create-root-div2 {
      width: 50%;
      .file-root {
        width: 100%;
        .major-files {
          display: flex;
          justify-content: space-between;
          margin-right: 15px;
          margin-top: 14px;
          .shade-mode {
            .file-label-create {
              color: #b0b3d1;
              font-size: 16px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              cursor: pointer;
              border-radius: 5px;
              width: 150px;
              max-width: 450px;
              height: 48px;
              background-color: #f0f3f8;
              border: none;
              margin-top: 12px;
              margin-bottom: 35px;
              input[type='file'] {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.create-button-ach {
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 45px;
  margin-right: 41px;
  cursor: pointer;
}

.delete-button-ach {
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ff0000;
  color: white;
  border: 1px solid #ffff;
  margin-top: 45px;
  cursor: pointer;
}
