.addplan-root {
  display: flex;
  justify-content: space-between;
  margin-top: 30.4px;
  margin-left: 31px;
  max-width: 100%;
  @media (min-width: 768px) and (max-width: 992px) {
    flex-direction: column;
  }

  .right-ads-div {
    width: 50%;

    .plan-name {
      display: flex;
      flex-direction: column;
    }
  }

  input[type='text'] {
    border-radius: 5px;
    width: calc(100vw - 880px);
    max-width: 490px;
    min-width: 390px;
    height: 48px;
    background-color: #f0f3f8;
    border: none;
    font-size: 14px;
    padding-left: 10px;

    &::placeholder {
      padding-left: 10px;
      color: #b0b3d1;
      font-size: 16px;
    }

    &:focus {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}

.upload-plans {
  .plan-label {
    color: #b0b3d1;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100vw - 880px);
    max-width: 490px;
    min-width: 390px;
    height: 48px;
    background-color: #f0f3f8;
    border: none;
    margin-top: 12px;
    margin-bottom: 35px;
    input[type='file'] {
      display: none;
    }
  }
}

.plan-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 254px;
  height: 49px;
  border-radius: 10px 10px 10px 10px;
  background-color: #7e3910;
  color: white;
  border: 1px solid #707070;
  margin-top: 45px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: #984514;
  }
}

.radio-plan {
  width: 89%;
  margin-bottom: 47px;
  .label {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1255px) and (max-width: 1295px) {
    width: 83%;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    width: 127%;
  }
}

.radio-radio {
  display: flex;
  align-items: center;
  color: #aaaab7;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: #7e3910;
  }
}

.left-div-plan {
  width: 50%;
}

.ad-buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  .create-ad-button {
    width: 254px;
    height: 49px;
    border-radius: 10px 10px 10px 10px;
    background-color: #7e3910;
    color: white;
    border: 1px solid #707070;
    margin-top: 45px;
    margin-right: 41px;
    cursor: pointer;

    &:hover {
      background-color: #984514;
    }
  }
  .delete-ad-button {
    width: 254px;
    height: 49px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ff0000;
    color: white;
    border: 1px solid #ffff;
    margin-top: 45px;
    cursor: pointer;
  }
}

.err-plans-add {
  color: red;
}
