.root-Feedback {
  width: 95%;
  margin-top: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 40px;
  width: 1107px;
  max-width: calc(100vw - 320px);
  margin-bottom: 15px;
  height: 100%;

  .RF-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 35px 0 35px;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
    }
  }

  .Feedback-header {
    display: flex;
    align-items: center;
    margin-left: 35px;
    border-bottom: 1px #b0b3d1 solid;
    margin-right: 35px;

    p {
      margin: 0;
      margin-left: 20%;
      @media (min-width: 768px) and (max-width: 992px) {
        margin-left: 1%;
      }
    }
  }

  .Feedback-link {
    text-decoration: none;
    color: #b0b3d1;
    font-size: 14px;
    margin-right: 51px;
  }

  .active {
    border-bottom: 3px solid #7e3910;
    color: #7e3910;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .root-Feedback {
    max-width: calc(100vw - 190px);
  }
}
