.feedback-root {
    width: 95%;
    margin-top: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px 40px 40px 40px;
    
        
    .card-root {
        display: flex;
        flex-wrap: wrap;
        // overflow-y:scroll
    }
}

.user-border {
  border: 1px solid #B0B3D1;
  background-color: #F0F3F8;
  border: 1px solid white;
  border-radius: 40px 40px 40px 40px;
  padding: 10px;
  margin-bottom: 20px;
  width: 230px;
  margin-left: 55px;

  .image-username {
      display: flex;
      align-items: center;

      h1 {
          font-size: 16px;
      }
  }

  p {
      font-size: 12px;
      line-height: 18px;
  }

  
}