.dash-home {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0 2%;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;

  .MV-grid {
    grid-row: 2/ 3;
    grid-column: 1/5;
    margin-top: -13%;
  }

  .AS-grid {
    grid-row: 3 / 4;
    grid-column: 1/2;
    // margin-top: -14%;
  }

  .RC-grid {
    grid-row: 3/4;
    grid-column: 2/4;
    // margin-top: -9%;
  }

  // .PD-grid {
  //   grid-row: 1/2;
  // }
}
